{% extends 'base.html.twig' %}

{% block title %}Edit Moto{% endblock %}

{% block body %}
    <h1>Edit Moto</h1>

    {{ include('moto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_moto_index') }}">back to list</a>

    {{ include('moto/_delete_form.html.twig') }}
{% endblock %}
